<form method="post" action="/users">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input type="text" name="user[name]">
	<input type="text" name="user[email]">
	<input type="password" name="user[password]">
	<input type="password" name="user[password_confirmation]">
	<button>Join</button>
</form>